@model IEnumerable<ProjektNET.Models.Pogrzeb>

@{
    ViewBag.Title = "Pogrzeby";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj", "Create") | @Html.ActionLink("Szukaj", "Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grabarz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grabarz.Imie) @Html.DisplayFor(modelItem => item.Grabarz.Nazwisko) (@Html.DisplayFor(modelItem => item.Grabarz.Pesel))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trup.Imie) @Html.DisplayFor(modelItem => item.Trup.Nazwisko) (@Html.DisplayFor(modelItem => item.Trup.Pesel))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.PogrzebID }) |
                @Html.ActionLink("Podgląd", "Details", new { id = item.PogrzebID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.PogrzebID })
            </td>
        </tr>
    }

</table>
