@model IEnumerable<ProjektNET.Models.Pogrzeb>

@{
    ViewBag.Title = "Szukaj";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pogrzeb</h4>
        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">Grabarz</label>
            <div class="col-md-10">
                <div>@Html.TextBox("gr", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Trup</label>
            <div class="col-md-10">
                <div>@Html.TextBox("tr", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Cena</label>
            <div class="col-xs-1">
                    <div>@Html.TextBox("min", null, htmlAttributes: new { @class = "form-control", @placeholder = "min" })</div>
            </div>
            <div class="col-xs-1">
                <div>@Html.TextBox("max", null, htmlAttributes: new { @class = "form-control", @placeholder = "max" })</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Opis</label>
            <div class="col-md-10">
                <div>@Html.TextBox("Opis", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grabarz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grabarz.Imie) @Html.DisplayFor(modelItem => item.Grabarz.Nazwisko) (@Html.DisplayFor(modelItem => item.Grabarz.Pesel))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trup.Imie) @Html.DisplayFor(modelItem => item.Trup.Nazwisko) (@Html.DisplayFor(modelItem => item.Trup.Pesel))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.PogrzebID }) |
                @Html.ActionLink("Podgląd", "Details", new { id = item.PogrzebID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.PogrzebID })
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Wróć", "Index")
</div>