<ul class="nav navbar-nav">
    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
    <li>@Html.ActionLink("Pogrzeby", "Index", "Pogrzeby")</li>
    <li>@Html.ActionLink("Trupy", "Index", "Trupy")</li>
    <li>@Html.ActionLink("Grabarze", "Index", "Grabarze")</li>
</ul>